<!DOCTYPE html>
<html lang="en" xmlns:th="http://www/thymeleaf.org">
<head>
 <meta charset="UTF-8">
 <title>Landon Hotels | Staffs</title>
</head>
<body>
	<table>
	<tr>
		<th>Staff Id</th>
		<th>First Name</th>
		<th>Last Name</th>
		<th>Current Position</th>
	</tr>
	<tr th:each="staff:${staffs}">
		<td th:text="${staff.id}">Id</td>
		<td th:text="${staff.firstName}">firstName</td>
		<td th:text="${staff.lastName}">lastName</td>
		<td th:text="${staff.position}">position</td>
	</tr>
	</table>
</body>
</html>
